<section id="nav-bar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary " >
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
        Blog Site
        </a>
        <button class="navbar-toggler equal" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         =
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/allblogs">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/createblog">Create new Blog</a>
            </li>
            
        </ul>
        </div>
    </div>
    </nav>
    
</section>